.App {
  margin-top: 200px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.App input{
  background: none;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  height: 50px;
  width: 25%;

  color: #1e2432 !important;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

  border-radius: 10px;
margin-bottom: 50px;
  background: hsla(0,0%,98%,.85);
  box-shadow: 10px 10px 5px 0 rgba(15,15,15,.404);
}

.background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1e2432 !important;
  width: 30%;
  height: 200px;
  border-radius: 15px;
  margin-left: 35%;
  background: hsla(0,0%,98%,.85);
  box-shadow: 10px 10px 5px 0 rgba(15,15,15,.404);
}
.Output h2{
padding: 0;
margin: 0;
}
.Output h3{
  padding: 0;
  margin: 0;
  }